<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <javaee:display-name>cointelligence.eu</javaee:display-name>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <javaee:param-name>resteasy.scan</javaee:param-name>
    <javaee:param-value>true</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:param-name>resteasy.servlet.mapping.prefix</javaee:param-name>
    <javaee:param-value>/rest</javaee:param-value>
  </context-param>
  <servlet>
    <servlet-name>DispatcherSerlvet</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <javaee:param-name>com.sun.jersey.config.property.packages</javaee:param-name>
      <javaee:param-value>eu.cointelligence.controller</javaee:param-value>
    </init-param>
    <init-param>
      <javaee:param-name>com.sun.jersey.api.json.POJOMappingFeature</javaee:param-name>
      <javaee:param-value>true</javaee:param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <javaee:display-name>UserLoginServlet</javaee:display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>eu.cointelligence.controller.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:display-name>ShareIdeaServlet</javaee:display-name>
    <servlet-name>ShareIdeaServlet</servlet-name>
    <servlet-class>eu.cointelligence.controller.servlet.ShareIdeaServlet</servlet-class>
  </servlet>
  <servlet>
    <javaee:display-name>AskQuestionServlet</javaee:display-name>
    <servlet-name>AskQuestionServlet</servlet-name>
    <servlet-class>eu.cointelligence.controller.servlet.AskQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AskQuestionServlet</servlet-name>
    <url-pattern>/AskQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShareIdeaServlet</servlet-name>
    <url-pattern>/shareIdea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DispatcherSerlvet</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <filter>
    <javaee:display-name>AuthenticationFilter</javaee:display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>eu.cointelligence.controller.filters.AuthenticationFilter</filter-class>
    <init-param>
      <javaee:description></javaee:description>
      <javaee:param-name>exclude-uri-regex</javaee:param-name>
      <javaee:param-value>((^/(.+)/login.jsp$)|(^/(.+)/userLogin$)|(^/(.+)/styles(/(.+)$))|(^/(.+)/scripts(/(.+))$)|(^/(.+)/img(/(.+)$))) </javaee:param-value>
    </init-param>
    <init-param>
      <javaee:description></javaee:description>
      <javaee:param-name>release</javaee:param-name>
      <javaee:param-value>false</javaee:param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <javaee:listener-class>eu.cointelligence.listeners.ApplicationStartedListener</javaee:listener-class>
  </listener>
</web-app>